body {
    max-height: 100vh;
}
.top-right-nav{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    height: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 16px;
    position: absolute;
    right: 17px;
}

body {
    font-family: arial, sans-serif;
}

.profile_picture {
    position: relative;
    top: 3px;
    right: 3px;
}

.profile_picture a{
    opacity: 1 !important;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(0,0,0);
    font-size: 13px;
    opacity: 0.75;
}
a:hover {
    text-decoration: underline;
}

header {
    margin: 21px 0 0 0;
}

.about-link {
    display: inline-block;
    padding-left: 17px;
}

.store-link {
    display: inline-block;
    padding-left: 11px;
}

.toolbox-icon{
    background-image: url("https://ssl.gstatic.com/gb/images/i2_2ec824b0.png");
    background-position: -132px -38px;
    background-size: 528px 68px;
    width: 30px;
    height: 30px;
    opacity: 0.55;
}

.toolbox-icon:hover {
    opacity: 1;
}

.profile_picture img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.google-logo{
    width: 272px;
    height: 92px;
    display: block;
    margin: 0 auto;
}

.google-logo-container {
    padding-top: 159px;
}

.search-bar {
    display: flex;
    width: 582px;
    height: 44px;
    border: solid 1px rgb(223, 225, 229);
    border-radius: 24px;
    margin: 0 auto;
    position: relative;
    top: 27px;
    justify-items: space-around;
}

.search-bar:hover{
    box-shadow: 0 0 6px rgb(212, 211, 211);
}

.search-logo {
    display: block;
    width: 20px;
    height: 20px;
    fill: rgb(154, 160, 166);
    align-self: center;
    position: relative;
    left: 14px;
}

.search-text-input {
    border: none;
    font-size: 16px;
    font-family: arial, sans-serif;
    width: 90%;
    position: relative;
    left: 26px;
}

.search-text-input:focus {
    outline: none;
}

.submit-buttons {
    display:flex;
    margin-top: 50px;
    justify-content: center;

}
.submit-buttons button {
    background-image: -webkit-linear-gradient(top,#f7f7f7,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #222;
    font-family: Arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.submit-buttons button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

